<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <title>Abegail Chart Viewer</title>
</head>
<body>
    <div style="height: 70vh; width: 80%;">
        <canvas id="myChart"></canvas>
    </div>

    <!-- Store Flask data as a JavaScript variable -->
    <script>
        const labels = JSON.parse('{{ labels | tojson | safe }}');
        const chartData = JSON.parse('{{ data | tojson | safe }}');
        const chartName = JSON.parse('{{ name | tojson | safe }}');

        const data = {
            labels: labels,
            datasets: [{
                label: chartName,
                fill: false,
                backgroundColor: 'rgb(58, 124, 27, 0.8)',
                borderColor: 'rgb(58, 124, 27)',
                borderWidth: 1,
                axis: 'y',
                data: chartData, 
            }],
        };

        const config = {
            type: 'bar',
            data: data,
            options: { 
                maintainAspectRatio: false,
                grouped: false,
                indexAxis: 'y',
                scales: {
                    y: {
                        title: {text: 'Date', display: true},
                    },
                    x: {
                        title: {text: 'Timestamp', display: true}, 
                        reverse: false, min: 0, max: 24,
                        ticks: {maxTicksLimit: 25},
                        grid: {
                            color: function(context) {
                                if (context.tick.value == 7 || context.tick.value == 16) {
                                    return 'rgb(190, 40, 40)';
                                }
                                else if (context.tick.value == 8 || context.tick.value == 17) {
                                    return 'rgb(40, 40, 190)';
                                }
                                else if (context.tick.value == 9 || context.tick.value == 18) {
                                    return 'rgb(40, 190, 40)';
                                }
                                else if (context.tick.value == 10 || context.tick.value == 19) {
                                    return 'rgb(240, 240, 40)';
                                }
                                return 'rgb(40, 40, 40, 0.5)';
                            },
                            lineWidth: function(context) {
                                if (context.tick.value >= 7 && context.tick.value <= 10) {
                                    return 2;
                                }
                                else if (context.tick.value >= 16 && context.tick.value <= 19) {
                                    return 2;
                                }
                                return 1;
                            },
                        },
                    }, 
                },
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>
</html>