<!DOCTYPE html>
<html>
<head>
    <title>Abegail Sees Everything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='webcam.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="center-box">
        <div class="header">
            <h2>Live Video Stream</h2>
            <button class="button" id="addFace" onclick="toggleOverlay()">
                Add
            </button>
        </div>
        <div class="img-container">
            <img id="live-feed" src="{{ url_for('video_feed') }}"/>
            <div class="flash" id="flash"></div>
            <div class="overlay" id="registerOverlay" style="display: none;">
                <div class="regText">Align your face inside the ellipse, then click Capture.</div>
                <div class="ellipse"></div>
                <div class="regButtons">
                    <button class="buttonRegister" id="registerCapture">Capture</button>
                    <button class="buttonRegister" id="registerCancel" onclick="toggleOverlay()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="main-controls">
            <input type="checkbox" name="feedStatus" id="feedStatus" checked>
            <button class="button" id="toggleFeed" onclick="toggleFeed()" title="Disable video feed">
                <i class="fa-solid fa-video-slash"></i>
             </button>
            <button class="button" id="takeShot" title="Take a screenshot">
                <i class="fa-solid fa-camera"></i>
            </button>
            <input type="checkbox" name="recogStatus" id="recogStatus">
            <button class="button" id="toggleRecognition" onclick="toggleRecog()" title="Enable facial recognition">
                <i class="fa-regular fa-face-grin"></i>
            </button>
            <div class="confirmBox" id="confirmBox" style="display: none;">
                <input type="text" id="nameField" placeholder="Enter name"/>
                <button class="buttonRegister" id="submitFace">Submit</button>
                <button class="buttonRegister" id="retakeFace">Retake</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='webcam.js') }}"></script>

</body>
</html>